.item-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .shopping-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .item-image:hover {
    transform: scale(1.1);
  }
  
  .item-details {
    margin-top: 10px;
  }
  
  .item-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .item-description {
    font-size: 14px;
    margin-top: 5px;
  }

  .item-category {
    font-size: 14px;
    margin-top: 5px;
  }
  .item-price {
    font-size: 14px;
    margin-top: 5px;
  }
  