<nav>
    <div class="logo"><img src="assets/images/shopping-cart-market.png" alt="shopping cart logo" id="myImage"/>Shopping Cart</div>
    <ul class="dashboard"><a routerLink="/"><button>Home</button></a></ul>
    <div class="search-bar">
        <input type="text" placeholder="Search..." />
        <button>Search</button>
    </div>
    <ul class="menu">
      <li><a routerLink="/cart"><button>Cart</button></a></li>
      <li><a routerLink="/login"><button>Login/Signup</button></a></li>
    </ul>
  </nav>
  