<h2>Registration</h2>
<form #Registrationform="ngForm" (ngSubmit)="registerUser()">
  <br>
  <!-- Registration success message -->
  <div *ngIf="registrationSuccess" class="alert alert-success">
    User registered successfully!
  </div>

  <!-- Error message for registration failure -->
  <div *ngIf="!registrationSuccess && msg" class="alert alert-danger">
    {{ msg }}
  </div>

  <!-- Full Name field -->
  <div class="form-group">
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" placeholder="Enter your name" name="fullName" [(ngModel)]="user.fullName" required
      #fullName="ngModel" required [class.is-invalid]="fullName.invalid && fullName.touched">
    <div *ngIf="fullName.errors && (fullName.invalid && fullName.touched)">
      <small class="text-danger" *ngIf="fullName.errors['required']">Full Name is a required field</small>
    </div>
  </div>

  <!-- Username field -->
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="Enter username" name="username" [(ngModel)]="user.userName" required
      #username="ngModel" required [class.is-invalid]="username.invalid && username.touched">
    <div *ngIf="username.errors && (username.invalid && username.touched)">
      <small class="text-danger" *ngIf="username.errors['required']">Username is a required field</small>
    </div>
  </div>

  <!-- Email field -->
  <div class="form-group">
    <label for="email">Email ID:</label>
    <input type="email" id="email" placeholder="Enter your email Id" name="email" [(ngModel)]="user.emailId" required
      pattern="^[a-z0-9_!#$%&'*+/=?`{|}~^.-]+@[a-z0-9.-]+$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
    <div *ngIf="email.errors && (email.invalid && email.touched)">
      <small class="text-danger" *ngIf="email.errors['required']">Email Id is a required field</small>
      <small class="text-danger" *ngIf="email.errors['pattern']">Enter a valid Email Id</small>
    </div>
  </div>

  <!-- Mobile Number field -->
  <div class="form-group">
    <label for="mobileNumber">Mobile Number:</label>
    <input type="tel" id="mobileNumber" placeholder="Enter your mobile number" name="mobileNumber" [(ngModel)]="user.mobileNumber" required
      #mob="ngModel" required [class.is-invalid]="mob.touched">
    <div *ngIf="mob.errors && (mob.touched)">
      <small class="text-danger" [class.d-none]="mob.valid || mob.untouched">Mobile Number is a required field</small>
    </div>
  </div>

  <!-- Date of Birth field -->
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" required
      #dateOfBirth="ngModel" required [class.is-invalid]="dateOfBirth.invalid && dateOfBirth.touched">
    <div *ngIf="dateOfBirth.errors && (dateOfBirth.invalid && dateOfBirth.touched)">
      <small class="text-danger" [class.d-none]="dateOfBirth.valid || dateOfBirth.untouched">Birth date is a required field</small>
    </div>
  </div>

  <!-- Gender field -->
  <div class="form-group">
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" placeholder="Select Gender" [(ngModel)]="user.gender" required
      #gender="ngModel" required [class.is-invalid]="gender.touched">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <div *ngIf="gender.errors && (gender.touched)">
      <small class="text-danger" [class.d-none]="gender.untouched">Gender is a required field</small>
    </div>
  </div>

  <!-- Role field -->
  <div class="form-group">
    <label for="role">Role:</label>
    <select id="role" name="role" placeholder="Select Role" [(ngModel)]="user.role" required
      #role="ngModel" required [class.is-invalid]="role.touched">
      <option value="CUSTOMER">CUSTOMER</option>
      <option value="DEALER">DEALER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
    <div *ngIf="role.errors && (role.touched)">
      <small class="text-danger" [class.d-none]="role.untouched">Role is a required field</small>
    </div>
  </div>

  <!-- Password field -->
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" [(ngModel)]="user.password" required
      #password="ngModel" required [class.is-invalid]="password.touched">
    <div *ngIf="password.errors && (password.touched)">
      <small class="text-danger" [class.d-none]="password.untouched">Password is a required field</small>
    </div>
  </div>

  <!-- Confirm Password field -->
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
      [(ngModel)]="confirmPassword" required>
    <div *ngIf="passwordMismatch" class="error-message">
      Password and confirm password do not match.
    </div>
  </div>

  <!-- Remember me checkbox -->
  <div class="form-group">
    <div class="checkbox">
      <label><input type="checkbox" name="remember">Remember me</label>
    </div>
  </div>

  <!-- Submit button -->
  <div class="form-group">
    <button [disabled]="Registrationform.form.invalid || passwordMismatch || confirmPassword !== user.password" type="submit">Register</button>
  </div>
</form>
